<header>
  <span (click)="getCountries()">
    Country-Data
  </span>
</header>

<nav class="navigation">

  <p-dropdown (onChange)="getRegion($event)" [options]="regions" optionLabel="name" placeholder="Select a Region"></p-dropdown>

  <input type="text" pInputText [(ngModel)]="nameValue" placeHolder="Search by Name" />    <button (click)="getName()">Search</button>

  <input type="text" pInputText [(ngModel)]="fifaValue" placeHolder="Search by Fifa code" />  <button (click)="getFifa()">Search</button>

</nav>

<article class="flags">

  <section class="countries" *ngFor="let country of countries | paginate: { itemsPerPage: 8, currentPage: p }">

    <section class="info" (click)="selectCountry(country.ccn3)" (click)="showDialogue()">
      <img [src]="country.flags.png" alt="">
      <h3>{{country.name.common}}</h3>
    </section>

    <p-dialog *ngIf="selectedCountry" header="{{selectedCountry[0].name.common}}" [(visible)]="visible" [draggable]="false"  [style]="{width: '20vw'}">
      <ul>
        <li>
            <span class="property">Common name: </span>
            <span *ngIf="selectedCountry">{{selectedCountry[0].name.common}}</span>
        </li>

        <li>
          <span class="property">Region: </span>
          <span *ngIf="selectedCountry">{{selectedCountry[0].region}}</span>
        </li>

        <li *ngIf="fifa">
          <span class="property">Fifa code: </span>
          <span *ngIf="selectedCountry">{{selectedCountry[0].fifa}}</span>
        </li>

        <li>
          <span class="property">Population: </span>
          <span *ngIf="selectedCountry">{{selectedCountry[0].population.toLocaleString('en')}}</span>
        </li>

        <li>
          <span class="property">Languages: </span>
          <span *ngIf="selectedCountry">
            {{selectedLanguages}}
          </span>
        </li>

        <li>
          <span class="property">Time zone: </span>
          <span *ngIf="selectedCountry">{{selectedCountry[0].timezones}}</span>
        </li>

        <li>
          <span class="property">Capital city: </span>
          <span *ngIf="selectedCountry">{{selectedCountry[0].capital}}</span>
        </li>

        <li>
          <span class="property">Currencies: </span>
          <span *ngIf="selectedCountry">{{countryCurrencies}}</span>
        </li>

        <li>
          <span class="property">Map: </span>
          <a *ngIf="selectedCountry" href="{{selectedCountry[0].maps.googleMaps}}" target="_blank">GoogleMaps Link</a>
        </li>

      </ul>
  </p-dialog>
  </section>
</article>
<pagination-controls class="page_controls" (pageChange)="p = $event"></pagination-controls>
