<p-toast></p-toast>

<header>
  <span routerLink="/">
    Favorites
  </span>
</header>

<button class="back" (click)="back()">Back</button>

<article class="flags">

  <section class="countries" *ngFor="let favorite of favCountryDetailed | paginate: { itemsPerPage: 8, currentPage: p }">

    <section class="info">
      <img [src]="favorite[0].flags.png" alt="">
      <h3>{{favorite[0].name.common}}</h3>
    </section>
    <button class="details" (click)="favDetails(favorite[0].ccn3)">Details</button>
    <button class="delete" (click)="deleteFavCountry(favorite[0].ccn3)">Delete</button>
  </section>
</article>
<pagination-controls class="page_controls" (pageChange)="p = $event"></pagination-controls>
